<form action="#" method="post" id="frmSignup" >
              <div class="md-form form-sm mb-5">
                <i class="fa fa-envelope prefix"></i>
                <input type="email" id="emailsu" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="emailsu">Your email</label>
              </div>

              <div class="md-form form-sm mb-5">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="passws" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="passws">Your password</label>
              </div>

              <div class="md-form form-sm mb-4">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="passwsr" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="passwsr">Repeat password</label>
              </div>

              <div class="text-center form-sm mt-2">
                <button class="btn btn-info btnSign">Sign up <i class="fa fa-sign-in ml-1"></i></button>
              </div>
            </form>